/* * CHALLENGE SECTION */

.challenge-content {
  border: 1px solid #8692FA;
  background-color: radial-gradient( var(--color--secondary), var(--color--primary));
  border-radius: 10px;
  padding: 2rem 1rem;
  margin: 2rem;
}

.challenge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  width: 90%;
}

.challenge-cat-and-diff {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.challenge-cat-and-diff span, .participation-info span {
  border: 2px solid #8692FA;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #8692FA;
  padding: 0.1rem 1rem;
}

.challenge-cat-and-diff span {
  margin: 2rem 0 0 1rem;
}

.category-color {
  background-color: #EC9E28;
}

.difficulty-color {
  background-color: #EC3C28;
}

.challenge-description {
  border: 1px solid #8692FA;
  padding: 0 1rem;
  margin: 1rem 1rem;
}

.align-button {
  width: 100%;
  text-align: center;
}

/* * PARTICIPATION SECTION */

.challenge-participations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.challenge-participation-container {
  border: 2px solid #8692FA;
  border-radius: 10px;
  background-color: radial-gradient( var(--color--secondary), var(--color--primary));
  padding: 0 1rem 2rem;
  margin: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.participation-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.participation-info span {
  margin: 1rem 0 2rem;
  background-color: #285CEC;
}

@media screen and (min-width: 400px) {
  .challenge-participation-container {
    width: 100%;
  }
}

/* * TABLETTE */

@media screen and (min-width: 768px) {
  .challenge-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .challenge-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
  }

  .challenge-cat-and-diff span {
    margin-top: 0;
  }

  .video-container {
    width: 45%;
    height: 100%;
  }

  .align-button {
    margin-top: 2rem;
  }

  .challenge-participation-container {
    width: 40%;
    margin: 1rem 0;
  }
}

/* * DESKTOP */

@media screen and (min-width: 1024px) {

  .challenge-title {
    margin: 4rem 0;
  }

  .challenge-content {
    padding-top: 4rem;
    width: 70%;
    margin: auto;
  }
  .challenge-description {
    margin-bottom: 0;
    margin-top: 1rem;
    line-height: 1.5rem;
  }

  .video-container {
    margin-left: 1rem;
  }

  .challenge-participations {
    width: 90%;
    margin: auto;
  }

  .challenge-participation-container {
    width: 30%;
    margin: 1rem 0.5rem;
  }

  .challenge-cat-and-diff {
    margin-bottom: 1rem;
  }
}