/* h2 {
    margin: 0 3rem;
  }
  .button-container {
    text-align: center;
    padding: 2rem 0;
  }
  
  .cards-container {
    margin-top: 3rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    gap: 20px 30px;
    justify-content: center;
  }
  
  
  
  @media screen and (min-width: 768px) {
    h2 {
        margin: 0 7rem;
    }
    .button-container {
        text-align: right;
        margin-right: 10rem;
    }
  } */