.profile {
    align-items: center;
}

/* Informations personnelles */

.perso-info {
    text-align: center;
}


/* Tous les challenges */

.perso-chall {
    display: flex;
    flex-direction: column; /* Place les enfants en colonne (verticalement) */
    gap: 1rem; /* Optionnel : espace entre les sections */
}

/* Challenge en cours */

.current-chall-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px; 
}

.arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 8px 16px;
    transition: background 0.2s;
}

.current-chall-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.arrow:hover {
    color: #007bff;
}


.current-chall-box {
    display: column;
    background: radial-gradient(#3f117e, #6e21d8);
    height: 15rem;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #6778A7;
}

.current-chall-pres {
    display: flex;
    align-items: center; 
    gap: 1rem;
}

/* Challenge réalisés */

.completed-chall-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px; /* Espace entre les éléments */
}

.arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 8px 16px;
    transition: background 0.2s;
}

.completed-chall-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.arrow:hover {
    color: #007bff;
}


.completed-chall-box {
    display: column;
    background: radial-gradient(#3f117e, #6e21d8);
    height: 20rem;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #6778A7;
}

.completed-chall-pres {
    display: flex;
    align-items: center; 
    gap: 1rem;
}

/* Challenge crées */

.created-chall-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px; /* Espace entre les éléments */
}

.arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 8px 16px;
    transition: background 0.2s;
}

.created-chall-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.arrow:hover {
    color: #007bff;
}


.created-chall-box {
    display: column;
    background: radial-gradient(#3f117e, #6e21d8);
    height: 20rem;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #6778A7;
}

.created-chall-pres {
    display: flex;
    align-items: center; 
    gap: 1rem;
}


/* Responsive */

@media screen and (min-width: 300px) and (max-width: 350px) {
    .current-chall-flex {
        padding-left: 8rem;
    }
}

@media screen and (min-width: 350px) and (max-width: 450px) {
    .current-chall-flex {
        padding-left: 5rem;
    }
}

@media screen and (min-width: 450px) {
    .current-chall-flex {
        padding-left: 4rem;
    }
}

@media screen and (max-width: 700px) {
    .current-chall-pres {
        display: flex;
        flex-direction: column; /* Place les enfants en colonne (verticalement) */
        gap: 1rem; /* Optionnel : espace entre les sections */
      }

      .current-chall-box {
        height: 25rem;
      }
}


  
  
