
/* * MOBILE */

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: radial-gradient(#5017A1, #1D083B);
  color: white;
}


/* === BLOC PRINCIPAL (Titre + texte + boutons) === */

h1, h2 {
  font-family: 'Joti One', cursive;

  text-align: center;
}


.home-content h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.4rem;
  padding: 4rem 0 1rem;

}

h2 {
  font-size: 1.1rem;

  line-height: 1.6;
}

/* === BOUTONS CRÉER / PARTICIPER === */

.home-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;

  padding: 0 0.5rem 1rem;

}

p, a, .default-button {
  font-family: 'Jura', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.default-button {
  min-width: 10rem;
  color: white;
  background-color: #285CEC;
  padding: 0.8rem 2rem;
  border: 2px solid #8692FA;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #8692FA;
  transition: background-color 0.3s ease;
}

.default-button:hover {
  background-color: #285cecc1;
}

.default-button:active {
  box-shadow: 1px 1px 0px black;
  transform: scale(0.95) translate(5%, 5%);
}


/* === SECTION CHALLENGES POPULAIRES === */


.home-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.home-slider-placeholder {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.video-placeholder {
  min-width: 250px;
  height: 140px;
  background-color: #6778A7;
  border-radius: 6px;
  scroll-snap-align: start;
  flex-shrink: 0;
}

/* === FOOTER === */

/* * DISPLAY FLEX BUTTONS */
.buttons-flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}


footer {
  margin-top: 4rem;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #ccc;
}

footer a {
  margin: 0 8px;
  color: #8692FA;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


/* === RESPONSIVE === */

@media (max-width: 600px) {
  .carousel-items {
    gap: 0.5rem;
  }

  .skeleton-card {
    width: 100%;
    max-width: 280px;
  }
}

/* * TABLETTE */

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.3rem;

  }
}
