.home-content {
  text-align: center;
  padding-top: 4rem;
  color: white;
}

.home-content h1 {
  font-family: 'Joti One', sans-serif;
  font-size: 2.2rem;
}

.home-content p {
  font-size: 1.1rem;
  margin: 1rem 0 2rem;
  line-height: 1.6;
  font-family: 'Jura', sans-serif;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.home-buttons button {
  padding: 0.8rem 2rem;
  background-color: #285CEC; /* bleu vif */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Jura', sans-serif;
}

.home-buttons button:hover {
  background-color: #8692FA; /* bleu clair */
}
