body {
  margin: 0;
  padding: 0;
  
  color: white;
  font-family: 'Jura', sans-serif;
  background: linear-gradient(180deg, #1d083b 0%, #5017a1 100%);
  background-attachment: fixed;
  min-height: 100vh;
}
h1 {
  font-family: 'Joti One', cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.joti-title {
  font-family: 'Joti One', cursive;
  font-size: 2.2rem;
}
